{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



   <h1>Votre Panier</h1>


     {% if cart != null%}

          <h1>Voici votre panier</h1>

          <a href = '{{ path("clearCartPath") }}'><button>Vider le panier</button></a>

             <h2> Le prix à régler pour votre panier est de {{cartValue}} euros </h2>


             {%for image in cart %}


               <h5>{{image.src}}></h1> </h5>
 


              <script>

              console.log({{image.id}});

              </script>

              {%endfor%}

              <br><br>



      {% else %}

        <h1>Vous n'avez aucun article</h1>

      {% endif %}




      
      <a href='{{path("paymentPagePath") }}'><button>Payer</button></a>

     
     {% if eventSeen != null %} 

     <a href = ' {{ path("showOneEventPath", { 'eventId' : eventSeen }) }}'><button>revenir à l'évènement</button></a>

     {% endif %}


{% endblock %}


