{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
        img{
          
          height : 150px;

        }

</style>




     {% if cart != null%}

          <h1>Voici votre panier</h1>

          <a href = '{{ path("clearCartPath") }}'><button>Vider le panier</button></a>

             <h2> Le prix à régler pour votre panier est de {{cartValue}} euros </h2>
            

             {%for image in cart %}

              {%if image.assetSrc is defined %}


             <img src="{{ asset(image.assetSrc) }}" alt="myflag">

             {%else%} 

             <h2 style='color:red'>Certains article ne peuvent pas être affiché, car ils ont sûrement été retirés de la vente par l'administrateur, veuillez s'il vous plait vider votre panier, et renouveler l'opération.</h2>





              {%endif%}
              {%endfor%}

              <br><br>

            
                <a href='{{path("paymentPagePath") }}'><button>Payer</button></a>




      {% else %}

        <style>
          
          #emptyCartDiv{
            
               display: flex;

               flex-direction: column;

               justify-content: center;

               align-items: center;

               height: 55vh;
          }

          #emptyCartHeader{

            width: 30%;

            display: flex;

            justify-content: space-between;
          }

        </style>

        <div id = 'emptyCartDiv'>
           <div id= 'emptyCartHeader' >
              <i style= 'margin-right: 1%' class="fas fa-2x fa-shopping-cart"></i>
              <h5>Vous n'avez selectionné aucune photo</h5>
            </div>

            <p> Afin d'ajouter des photos, veuillez vous rendre sur un évènement, et séléctionner une ou plusieurs images.</p>
        </div>
 
      {% endif %}




      

     
     {% if eventSeen != null %} 

     <a href = ' {{ path("showOneEventPath", { 'eventId' : eventSeen }) }}'><button>revenir à l'évènement</button></a>

     {% endif %}


{% endblock %}


