{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>


  body{

     background:#fcfcfc;
  }

   #myNavBar{

              box-shadow: none;
   }
   #myHeader{
     
     background: white;

      color: black; 
      
      height: 70px;

       width: 100%;

       display: flex;

       flex-direction:column;

       align-items: center; 

       transition: 0.5s;  

       position: static;


          

   }



   #filesInputDiv{

      position: fixed;

      top: 85vh;

      left: 1vw;

      z-index: 8;


      width: 95vw;

      height: 20vh;


   }
   #fileInput{

      width: 9.5vw;

      height: 30px;
   }



 #submitBtn{
  
  border-radius: 40px;

  height: 50px;

  width: 50px;
  
  display: flex;

  justify-content: center;

}

   #eventNavBar{

      background: white;
      margin: auto;
      height: 30px;
      width:100%; 
      display:flex; 
      justify-content:space-between; 
      align-items: center; 
      z-index:8;

      transition: 1s;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);


      background: white;

      color: black;


      border-radius: 6px;


      padding-right: 20px;

      padding-left: 20px;



      
   }
   

   #myForm{


      display: flex;

      justify-content: space-between;

      align-items: center;

   }


    .imgDiv{

       margin-top: 20px;
       position: relative;
       flex-grow: 1;
       display :flex;
       z-index: 1;
       justify-content: space-between;
       align-items: flex-start;
       width:100%;


    }
   

    img{

      z-index: 1;
      width : 500px;
      object-fit:contain;
      border-radius: 8px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
      width: 90%;
      height:auto;
    }


    
   #navLogo{
            box-shadow: none;

   }

    .closeButton{
       
       margin-left: -30%;
       background: none;
       border: none;
       outline: none;
       width: 15px;
       border-radius: 30px;
       font-size: 13px;
       
    }

    #cartBtn{

       height: 12.5%;
       width: 7.5%;
       border-radius: 5px;
       background: #0074D9;
       display: flex;
       align-items: center;
       justify-content: center; 
       color: white;
       border:none;
       font-size: 10px;
       margin-right:2%;

    }


    #addedImgMsg{

       position:fixed;
       z-index: 8;
       top: 6.5vh;
       left: 85vw;
       background: rgb(255,0,0,0.75);
       width: 10vw;
       height: 2.5vw;
       opacity: 0;
       border-radius : 10px 0px 10px 10px;
       display:flex;
       justify-content:center;
       align-items:center;
    }

 #myContainer {
      position: relative;
      width: 90vw;
      height: 90vh;
      display: flex;
      margin-left: 5%;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
   }


.imgText {
    position: absolute;
    top: 40%;
    z-index: 6;
    font-size: 5vw;
    opacity: 40%;
    left: 5%;
    width: 92.5%;
}

#topMessage{

   display:flex;
}

#topHref{
   display: flex;
   font-size: 13px;  
   justify-content: space-between; 
   align-items: center; 
   width:120px;
}


#topP{
   opacity:1;
}


#layoutButtons{

   position:fixed;
   left: 0.5%;
   top: 7.5%;
   height:3%;
   width:70%;
   display:flex;
   flex-direction:row;
   justify-content:flex-start;
   align-items:center;
   border-radius:5px;
   z-index:11;
   display:none;

}


.layoutButtonsA{

   height: 90%;
   width: 5%;
   display:flex;
   justify-content:center;
   align-items:center;
   margin-left:5%;
}

.layoutImg{
   height:60%;
   width:auto;
   border-radius:0px;
   cursor:pointer;


}

.imgDiv{

   width:30%;
}
@media all and (max-width: 800px){


   #messageIcon {
     z-index: 3;
     position: fixed;
     top: 85vh;
     left: 5.5vw;
     background: #0049B7;
     height: 12.5vh;
     width: 22.5vw;
     border-radius: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .imgText{

      font-size:15vw;
   }
   


    #myContainer{
     position:relative;
     width:90vw;
     height:90vh;
     display:grid;
     grid-auto-columns: minmax(100px, auto);
     margin-left :5%;
    }

     #cartBtn{

       margin-right:0;

     }


  #topMessage{

   display:none;
  }


#topHref{
   display:flex;
   justify-content:flex-end;
   margin-left:5%;

}
#topP{
   opacity:0;
}


  #layoutButtons{
   display:none;
  }


.imgDiv{

   width:100%;
}


}
    
</style>

 
 <div id='myHeader'>
   
   <div id='titleAndPres'>
      <div>
        <h5>{{event.name}}</h5>
      </div>

    

   </div>
 
</div>

 
   <div id='eventNavBar'>

   
      
   </div>

   <div id='layoutButtons'>

      <div class='layoutButtonsA'>
                <img class='layoutImg' src= "{{ asset('assets/img/layout1.png') }}">

      </div>
      <div class='layoutButtonsA'>
                <img  class='layoutImg' src= "{{ asset('assets/img/layout2.png') }}">

      </div>
  
   </div>


   <div id ='myContainer'></div>


 
  
     
     

   {% if app.user %}



  <div id='filesInputDiv'>
 
   <form id='myForm' enctype= 'multipart/form-data' method='post'>

    <input id='fileInput' type = "file" name="myFile[]" multiple="multiple"/>
     <input type = "hidden" name="fileSent"/>

    <button id='submitBtn' class='btn btn-success' type='submit' value='ajouter une photo'><i class="fas fa-2x fa-upload"></i></button>


   </form>

   </div>

</br>
</br>
</br>
</br>
</br>
</br>
</br>


{%else%}


   <div id='addedImgMsg' style='color:blue'> Image ajoutée à votre  <i class="fas fa-1x fa-cart-arrow-down"></i> </div>

   {%endif%}

{% endblock %}

{% block javascripts %}

   <script>


$(window).scroll(function(e){ 

  var $el = $('#eventNavBar'); 


  var isPositionFixed = ($el.css('position') == 'fixed');
  

  if ($(this).scrollTop() > 55 && !isPositionFixed){ 

    $el.css({'position': 'fixed', 'top': '7.3vh', 'width':'100%'}); 
    $el.html("<p id='topP' style='margin:auto; font-size: 11px'>sélectionnez toutes les photo que vous souhaitez en appuyant sur la croix bleue</p><a id='topHref' href='#top'><span id='topMessage'>revenir en haut</span><i class='fas fa-eject'></i></a>");
    document.getElementById("layoutButtons").style.display = 'flex';

  }

  if ($(this).scrollTop() < 55 && isPositionFixed){
    $el.css({'position': 'static','background-color':'white', 'width': '100%'});
       $el.html("");
       document.getElementById("layoutButtons").style.display = 'none';

  } 
});





{% for image in images %}  


 

         var src = {{ image.id }}

         console.log(src);



  var myContainer = document.getElementById('myContainer');

  var mybutton = document.createElement("BUTTON");


  var mydiv = document.createElement("div");

  mydiv.classList.add("imgDiv");
                        


   var myImg = document.createElement("IMG");

    myImg.src = "{{ asset(image.assetSrc) }}"

   


    mydiv.append(myImg);

    
  mydiv.appendChild(mybutton);  


var imgText =  document.createElement("h1");

imgText.classList.add("imgText");


imgText.innerHTML = 'BelleImage </br>';


  mydiv.appendChild(imgText);  

  myContainer.prepend(mydiv);





   {% if app.user %}




   
  
     var form = document.createElement("form");

     
       form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('method' , 'post')


             
         mybutton.style.opacity = '0';


                  var x = {{image.id}}



          var imageId = document.createElement("input");

          imageId.setAttribute('value', x)

          imageId.setAttribute('name', 'imageId')

           imageId.setAttribute('type', 'hidden')




          
          var eventId = document.createElement("input");

          eventId.setAttribute('value', {{event.id}})

          eventId.setAttribute('name', 'eventId')

          eventId.setAttribute('type', 'hidden')




          
           var submit = document.createElement("button");

           submit.setAttribute('type', 'submit');

           submit.setAttribute('value', 'supprimer');

           submit.classList.add("closeButton");

           submit.innerHTML = '&#x274C';




           form.append(submit);
           form.append(imageId);
           form.append(eventId);




         mydiv.append(form);






    {%else%}

    
          mybutton.setAttribute('value' , '{{ image.id}}')
          mybutton.setAttribute('onclick' , 'addImgToCart(event)')
          mybutton.setAttribute('id' , 'cartBtn')
          



          mybutton.innerHTML = '&#10010';    


    
      {% if cart != null%}
            {% for id in cart %}

                {%if id == image.id%}              

                    mybutton.setAttribute('value' , '')
                    mybutton.setAttribute('onclick' , '')
                    mybutton.style.background = 'none';
                    mybutton.style.border = 'none';
                    mybutton.style.outline = 'none';

                   mybutton.innerHTML = '&#x2705';    
                {% endif %}            
            {%endfor%}               
     
      {%endif%}



               

   {%endif%}



  {% endfor %}



   








      function addImgToCart(event){


        document.getElementById('addedImgMsg').style.opacity = 1;

        setTimeout(function(){  document.getElementById('addedImgMsg').style.opacity = 0;}, 4000);
        
        
        var imageId = event.target.value;

        event.target.innerHTML = '&#x2705';

        event.target.style.background = 'none';

        event.target.style.border = 'none';

        event.target.style.outline = 'none';




        event.target.setAttribute('onclick', '');

        xrq = new XMLHttpRequest();

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }




      function largeLayout(){

         

  


         
      }



      function longLayout(){





      }









   </script>
{% endblock %}
