{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    img{

    display: block;
    width:20%;
    margin-left: auto;
    margin-right: auto;

    }
</style>

   <h1>{{event.name}}</h1>


    <main id='mymain'>





   </br>
   </br>
   </br>


 {% for image in images %}  


 {{ image.src }}


    

  {% endfor %}



   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>


   {{ form_start(form) }}
    {{ form_row(form.image) }}
    <input type='submit' value='ajouter une photo'>
   {{ form_end(form) }}

       </main>

{% endblock %}

{% block javascripts %}

   <script>

var mybutton;




{% for image in images %}  

  var mybutton = document.createElement("BUTTON");

  var mymain = document.getElementById('mymain');

  var mydiv = document.createElement("div");

  mydiv.prepend(mybutton); 

    var src = {{ image.id }}


    mydiv.append(src);


  mymain.prepend(mydiv);








   {% if app.user %}
               mybutton.setAttribute('value' , '{{ image.id}}')
               mybutton.innerHTML = 'supprimer';

    {%else%}

    
          mybutton.setAttribute('value' , '{{ image.id}}')
          mybutton.setAttribute('onclick' , 'addImgToCart(event)')
          mybutton.innerHTML = 'Ajouter au panier';    


    
      {% if cart != null%}
            {% for id in cart %}

                {%if id == image.id%}              

                    mybutton.setAttribute('value' , '')
                    mybutton.setAttribute('onclick' , '')
                   mybutton.innerHTML = 'Ajouté';    
                {% endif %}            
            {%endfor%}               
     
      {%endif%}



               

   {%endif%}



  {% endfor %}



   










      function addImgToCart(event){
        
        var imageId = event.target.value;

        event.target.innerHTML = 'ajouté';

        event.target.setAttribute('onclick', '');

        xrq = new XMLHttpRequest();

        xrq.onload = function(){
          alert(JSON.parse(this.responseText).cookieContent);
        }

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }

   </script>
{% endblock %}
