{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    img{

    display: block;
    width:20%;
    margin-left: auto;
    margin-right: auto;

    }
</style>

   <h1>{{event.name}}</h1>


    <main id='mymain'>




    

{% for image in images %}  



{%endfor%}
 






   </br>
   </br>
   </br>



   </br>
   </br>
   </br>

   {% if app.user %}



</br>
</br>
</br>

   <form enctype= 'multipart/form-data' method='post'>

    <input type = "file" name="myFile"/>
     <input type = "hidden" name="fileSent"/>

    <input type='submit' value='ajouter une photo'>



   </form>


</br>
</br>
</br>
</br>
</br>
</br>
</br>


   {%endif%}

       </main>

{% endblock %}

{% block javascripts %}

   <script>






{% for image in images %}  


 

         var src = {{ image.id }}

         console.log(src);



  var mybutton = document.createElement("BUTTON");

  var mymain = document.getElementById('mymain');

  var mydiv = document.createElement("div");

  mydiv.append(mybutton);

     mydiv.append(src);

    


  mymain.prepend(mydiv);





   {% if app.user %}




   
  
     var form = document.createElement("form");

     
       form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('method' , 'post')


             
         mybutton.style.opacity = '0';


          var imageId = document.createElement("input");

          imageId.setAttribute('value', x)

          imageId.setAttribute('name', 'imageId')

           imageId.setAttribute('type', 'hidden')




          
          var eventId = document.createElement("input");

          eventId.setAttribute('value', {{event.id}})

          eventId.setAttribute('name', 'eventId')

          eventId.setAttribute('type', 'hidden')




          
           var submit = document.createElement("input");

           submit.setAttribute('type', 'submit');

           submit.setAttribute('value', 'supprimer');

           form.append(submit);
           form.append(imageId);
            form.append(eventId);




         mydiv.append(form);


         var x = {{image.id}}




    {%else%}

    
          mybutton.setAttribute('value' , '{{ image.id}}')
          mybutton.setAttribute('onclick' , 'addImgToCart(event)')
          mybutton.innerHTML = 'Ajouter au panier';    


    
      {% if cart != null%}
            {% for id in cart %}

                {%if id == image.id%}              

                    mybutton.setAttribute('value' , '')
                    mybutton.setAttribute('onclick' , '')
                   mybutton.innerHTML = 'Ajouté';    
                {% endif %}            
            {%endfor%}               
     
      {%endif%}



               

   {%endif%}



  {% endfor %}



   








      function addImgToCart(event){
        
        var imageId = event.target.value;

        event.target.innerHTML = 'ajouté';

        event.target.setAttribute('onclick', '');

        xrq = new XMLHttpRequest();

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }

   </script>
{% endblock %}
