{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>


   
   #myContainer{


     position : relative;

     width : 90vw;

     height : 90vh;

     display : flex;

     flex-wrap : wrap;

     justify-content : flex-start;

     margin-left :5%;

     align-items :flex-start;

     flex-direction :row;

    }


    .imgDiv{

      position: relative;

      display :flex;

      z-index: 1;


      justify-content: flex-start;

    }

    img{

    z-index: 1;

    width: auto;

    height : 200px;

    }

    .closeButton{

       margin-left: -65%;
    }

    #cartBtn{

       height : 25px;

       width : 25px;
    }


    
</style>

   <h1>{{event.name}}</h1>



   <div id ='myContainer'></div>



     


   {% if app.user %}


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


   <form enctype= 'multipart/form-data' method='post'>

    <input type = "file" name="myFile[]" multiple="multiple"/>
     <input type = "hidden" name="fileSent"/>

    <input type='submit' value='ajouter une photo'>


   </form>


</br>
</br>
</br>
</br>
</br>
</br>
</br>


   {%endif%}


{% endblock %}

{% block javascripts %}

   <script>






{% for image in images %}  


 

         var src = {{ image.id }}

         console.log(src);



  var mybutton = document.createElement("BUTTON");

  var myContainer = document.getElementById('myContainer');

  var mydiv = document.createElement("div");

  mydiv.classList.add("imgDiv");
                        


   var myImg = document.createElement("IMG");

    myImg.src = "{{ asset(image.assetSrc) }}"


    mydiv.append(myImg);

    
  mydiv.appendChild(mybutton);  





    

 myContainer.prepend(mydiv);





   {% if app.user %}




   
  
     var form = document.createElement("form");

     
       form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('method' , 'post')


             
         mybutton.style.opacity = '0';


                  var x = {{image.id}}



          var imageId = document.createElement("input");

          imageId.setAttribute('value', x)

          imageId.setAttribute('name', 'imageId')

           imageId.setAttribute('type', 'hidden')




          
          var eventId = document.createElement("input");

          eventId.setAttribute('value', {{event.id}})

          eventId.setAttribute('name', 'eventId')

          eventId.setAttribute('type', 'hidden')




          
           var submit = document.createElement("input");

           submit.setAttribute('type', 'submit');

           submit.setAttribute('value', 'supprimer');

           submit.classList.add("closeButton");


           form.append(submit);
           form.append(imageId);
           form.append(eventId);




         mydiv.append(form);






    {%else%}

    
          mybutton.setAttribute('value' , '{{ image.id}}')
          mybutton.setAttribute('onclick' , 'addImgToCart(event)')
          mybutton.setAttribute('id' , 'cartBtn')

          mybutton.innerHTML = '+';    


    
      {% if cart != null%}
            {% for id in cart %}

                {%if id == image.id%}              

                    mybutton.setAttribute('value' , '')
                    mybutton.setAttribute('onclick' , '')
                   mybutton.innerHTML = 'v';    
                {% endif %}            
            {%endfor%}               
     
      {%endif%}



               

   {%endif%}



  {% endfor %}



   








      function addImgToCart(event){
        
        var imageId = event.target.value;

        event.target.innerHTML = 'v';

        event.target.setAttribute('onclick', '');

        xrq = new XMLHttpRequest();

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }

   </script>
{% endblock %}
