{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>


   
   #myContainer{


     position : relative;

     width : 90vw;

     height : 90vh;

     	display: grid;


   grid-auto-columns: minmax(100px, auto);

     margin-left :5%;


     flex-direction : row;

    }


    .imgDiv{
       margin-top: 10px;
       margin-left: 10px;
      position: relative;
      
      flex-grow: 1;
      

      display :flex;

      z-index: 1;



      justify-content: center;

    }

    img{

    z-index: 1;

    width : 330px;

    object-fit:contain;

    }

    .closeButton{
       

       margin-left: -30%;
       

       background: none;

       border: none;

       outline: none;

       width: 30px;

       border-radius: 30px;

       font-size: 10px;

       
    }

    #cartBtn{

       height : 22px;

       width : 22px;

       border-radius: 10px;

       background: #0074D9;

          display: flex;
    align-items: center;
    justify-content: center; 

       color: white;

    }


    #addedImgMsg{

       position:fixed;

       z-index: 4;

       top: 90vh;

       right: 80vw;

       background: yellow;

       width: 150px;

       height: 50px;

       opacity: 0;
    }


    
</style>

   <h1>{{event.name}}</h1>



   <div id ='myContainer'></div>


  
     


   {% if app.user %}


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>


   <form enctype= 'multipart/form-data' method='post'>

    <input type = "file" name="myFile[]" multiple="multiple"/>
     <input type = "hidden" name="fileSent"/>

    <input type='submit' value='ajouter une photo'>


   </form>


</br>
</br>
</br>
</br>
</br>
</br>
</br>


{%else%}



   <div id='addedImgMsg' style='color:blue'> Image ajoutée à votre  <i class="fas fa-1x fa-cart-arrow-down"></i> </div>

   {%endif%}


{% endblock %}

{% block javascripts %}

   <script>






{% for image in images %}  


 

         var src = {{ image.id }}

         console.log(src);


  var myContainer = document.getElementById('myContainer');

  var mybutton = document.createElement("BUTTON");


  var mydiv = document.createElement("div");

  mydiv.classList.add("imgDiv");
                        


   var myImg = document.createElement("IMG");

    myImg.src = "{{ asset(image.assetSrc) }}"


    mydiv.append(myImg);

    
  mydiv.appendChild(mybutton);  





    

 myContainer.prepend(mydiv);





   {% if app.user %}




   
  
     var form = document.createElement("form");

     
       form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('action' , '{{ path("deleteImagePath")}}')

              form.setAttribute('method' , 'post')


             
         mybutton.style.opacity = '0';


                  var x = {{image.id}}



          var imageId = document.createElement("input");

          imageId.setAttribute('value', x)

          imageId.setAttribute('name', 'imageId')

           imageId.setAttribute('type', 'hidden')




          
          var eventId = document.createElement("input");

          eventId.setAttribute('value', {{event.id}})

          eventId.setAttribute('name', 'eventId')

          eventId.setAttribute('type', 'hidden')




          
           var submit = document.createElement("button");

           submit.setAttribute('type', 'submit');

           submit.setAttribute('value', 'supprimer');

           submit.classList.add("closeButton");

           submit.innerHTML = '&#x274C';




           form.append(submit);
           form.append(imageId);
           form.append(eventId);




         mydiv.append(form);






    {%else%}

    
          mybutton.setAttribute('value' , '{{ image.id}}')
          mybutton.setAttribute('onclick' , 'addImgToCart(event)')
          mybutton.setAttribute('id' , 'cartBtn')
          



          mybutton.innerHTML = '&#10010';    


    
      {% if cart != null%}
            {% for id in cart %}

                {%if id == image.id%}              

                    mybutton.setAttribute('value' , '')
                    mybutton.setAttribute('onclick' , '')
                    mybutton.style.background = 'none';
                    mybutton.style.border = 'none';
                    mybutton.style.outline = 'none';

                   mybutton.innerHTML = '&#x2705';    
                {% endif %}            
            {%endfor%}               
     
      {%endif%}



               

   {%endif%}



  {% endfor %}



   








      function addImgToCart(event){


        document.getElementById('addedImgMsg').style.opacity = 1;

        setTimeout(function(){  document.getElementById('addedImgMsg').style.opacity = 0;}, 4000);
        
        
        var imageId = event.target.value;

        event.target.innerHTML = '&#x2705';

        event.target.style.background = 'none';

        event.target.style.border = 'none';

        event.target.style.outline = 'none';




        event.target.setAttribute('onclick', '');

        xrq = new XMLHttpRequest();

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }

   </script>
{% endblock %}
