{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    img{

    display: block;
    width:20%;
    margin-left: auto;
    margin-right: auto;

    }
</style>

   <h1>{{event.name}}</h1>


   </br>
   </br>
   </br>


    {% for image in images %}  

    <img src = '{{ image.src }}'> </br>

    <button value= {{ image.id}} onclick='addImgToCart(event)'>add image to cart </button>

    </br>

    
  
    <button value= {{ image.id}} onclick='addImgToCart(event)'>Supprimer</button>

    </br>


    

    {% endfor %}


   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>


   {{ form_start(form) }}
    {{ form_row(form.brochure) }}
    <input type='submit' value='ajouter une photo'>
   {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

   <script>


      function addImgToCart(event){
        
        var imageId = event.target.value;

        xrq = new XMLHttpRequest();

        xrq.onload = function(){

          alert(JSON.parse(this.responseText).cookieContent);
        }

        xrq.open('POST', '{{ path("addImgToCartPath") }}', true);
        xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      
        xrq.send('imageId=' + imageId);

      }

   </script>
{% endblock %}
