{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>


.bgContainer{

    width : 95vw;

    height : 100vh;

    display: flex;

    justify-content: center;

    flex-direction: column;

    align-items: center;
}

.ticketContainer{
      height: 500px;
      width: 50%;

      border: solid;

      border-radius: 20px;

      margin-left: 3vw;
}

.messageContent{
    
    border: solid;

    border-radius: 0px 20px 20px 20px;

    height: 20%;

    width: 80%;

    float: right; 

    margin-right: 10px;   
}

#leftMarginContainer{

    position: fixed;


    height: 100vh;

    width: 20vw;


}


#pendingMsgsLink{





}

#doneMsgsLink{


}

</style>


<div id='leftMarginContainer'>


<a href='{{ path("showAllPendingTicketsPath") }}'><div id='pendingMsgsLink'><h4>Messages non traités</h4></div> <br></a>


<a href='{{ path("showAllDoneTicketsPath") }}'><div id='doneMsgsLink'><h4>Messages traités</h4><br> </div></a>


</div>


   <h1Voici tous vos tickets en attente</h1>
    
    <div class='bgContainer'>

 


           <div class = 'ticketContainer'>

                           <a href= '{{ path("deleteTicketPath", {"ticketId" :  ticket.id, "ticketStatus" : ticket.status} )}}'><h1>X</h1></a>

               Nom :   <h4>{{ ticket.username}}</h1><br>
               Numéro de téléphone : <p>{{ ticket.foneNumber}}</p><br>
               Statut : <p>Non traité</p><br>
                        <div class='messageContent'>
                          <p>{{ ticket.content}}</h1></p> </br>
                        </div>

                {% if ticket.status == 'done' %}

               <a href= '{{ path("setTicketToPendingPath", {"ticketId" :  ticket.id} )}}' ><button> Repasser ce message en 'non traité'</button></a>
                
                {%else%}

                <a href= '{{ path("setTicketToDonePath", {"ticketId" :  ticket.id} )}}' ><button> Passer ce message en 'traité'</button></a>

                 {%endif%}

            
             </div>
    
           </br>

    
      </div>

   {% endblock %}



{% block javascripts %}


<script>




</script>

{% endblock %}