{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>




.totalBgContainer{


    width: 100%;

    height: 100%;

}

#leftMarginContainer{

    z-index: 4;
   
    position:fixed;

    height: 100vh;

    width: 5vw;
    
    background: purple;
    
    overflow: hidden;

}


.bgContainer{

    position:absolute;

    
    width : 95%;

    height : 100vh;    

    display: flex;


    justify-content: flex-start;

    align-item: flex-start;

    flex-direction: column;

    margin-left: 5vw;

    
    

}


  .ticketContainer{

      height: 50px;
      width: 100%;

      display: flex;

      justify-content: space-between;

      flex-direction: row;


  
      border: none;
      
      border-bottom: 1.5px solid;





}





.messageContent{
    
    border: solid;

    border-radius: 0px 20px 20px 20px;

    height: 20%;

    width: 80%;

    float: right; 

    margin-right: 10px;   
}


#arrowDiv{
    position: fixed;

    margin-top: 2vh;

    margin-left: 1.3vw;

}



#pendingMsgsLink{

    position: fixed;

    display: flex;

    justify-content: flex-start;

    align-items: center;

    top: 20vh;

    margin-left: 1vw;

}

#doneMsgsLink{

    position: fixed;

    display: flex;

    justify-content: flex-start;

    align-items: center;

     top: 30vh;

     margin-left: 1vw;


}


#leftMarginContainer:hover{


    width: 20%;

}


#leftMarginContainer:hover #arrowDiv { margin-left: 8%;}

#leftMarginContainer:hover #undoneMessages { opacity: 1;}

#leftMarginContainer:hover #doneMessages { opacity: 1;}





#undoneMessages{

    opacity: 0;

    margin-left: 2vw;
}

#doneMessages{
    opacity: 0;
    margin-left: 2vw;
}


#ticketContent{
  margin-left: 1.5vw;

  padding-right: 2vw;
}


#buttonDiv{

  margin-top: 3vh;

  width: 100%;

  display: flex;

  justify-content: flex-start;

  padding-left: 2vw;
}


</style>


     <div id='leftMarginContainer'>
        {%if comingFrom == 'pending' %}
             <a href='{{ path("showAllPendingTicketsPath") }}'><div id='arrowDiv'><i class="fas fa-2x fa-arrow-left"></i></div> <br></a>
        {%else%}
             <a href='{{ path("showAllDoneTicketsPath") }}'><div id='arrowDiv'><i class="fas fa-2x fa-arrow-left"></i></div> <br></a>
        {%endif%}
        <a href='{{ path("showAllPendingTicketsPath") }}'><div id='pendingMsgsLink'><i class="fas fa-2x fa-envelope"></i><h5 id='undoneMessages'>Messages recus</h5></div> <br></a>

        <a href='{{ path("showAllDoneTicketsPath") }}'><div id='doneMsgsLink' ><i class="fas fa-2x fa-archive"></i><h5  id='doneMessages'>Messages traités</h5></div></a>

     </div>



   <div class='totalBgContainer'>


     
    <div class='bgContainer'>

    
    <h1> Message de : {{ticket.username}}</h1>
 
    
    
       <div class = 'ticketContainer'style='overflow:hidden'>

         <div style='width:90%'>

                    <div style='display:flex; flex-direction: row; justify-content: space-around; color:black'>
                        <h5>Mail: </h5><div style='width:20%;'><h5>{{ ticket.mail}}</h5> </div>
                        <div style='width:800px'><h5>Numéro: {{ ticket.foneNumber}} </h5></div>
                    </div>
              
           </div>
        
          <div style='width:10%' >
                  <a href= '{{ path("deleteTicketPath", {"ticketId" :  ticket.id, "ticketStatus" : ticket.status} )}}'><i class="fas fa-trash"></i></a> 
          </div>

         </div>


         <div id='ticketContent'>

          {{ ticket.content }}
         

         </div>


         <div id='buttonDiv'>
             <a href= '{{ path("setTicketToDonePath", {"ticketId" :  ticket.id} )}}' ><button class= 'btn btn-success'> Passer ce message en 'traité'</button></a>
         </div>

 




 </div>

    
</div>






   {% endblock %}



{% block javascripts %}


<script>


var leftMarginContainer = document.getElementById('leftMarginContainer');

leftMarginContainer.addEventListener('mouseover', overOn();

);


</script>

{% endblock %}