{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>




.totalBgContainer{


    width: 100%;

    height: 100%;

}

#leftMarginContainer{


   
    position:fixed;

    z-index: 4;

    height: 100vh;

    width: 5vw;
    
    background: purple;
    
    overflow: hidden;

}


.bgContainer{

    position:absolute;

    
    width : 95%;

    height : 100vh;    

    display: flex;


    justify-content: flex-start;

    align-item: flex-start;

    flex-direction: column;

    margin-left: 5vw;

    
    

}



  .myHeader{

      height: 10vh;
      width: 100%;

      border-bottom: 1.5px solid;


      display: flex;

      justify- content: flex-start;




     


}
  .ticketContainer{

      height: 50px;
      width: 100%;

      display: flex;

      justify-content: space-between;

      align-items: center;

      flex-direction: row;
  
      border: none;
      
      border-bottom: 1.5px solid;


}







.messageContent{
    
    border: solid;

    border-radius: 0px 20px 20px 20px;

    height: 20%;

    width: 80%;

    float: right; 

    margin-right: 10px;   
}




#pendingMsgsLink{

    position: fixed;

    display: flex;

    justify-content: flex-start;

    align-items: center;

    top: 20vh;

    margin-left: 1vw;

}

#doneMsgsLink{

    position: fixed;

    display: flex;

    justify-content: flex-start;

    align-items: center;

     top: 30vh;

     margin-left: 1vw;




}


#leftMarginContainer:hover{


    width: 20%;

}



#leftMarginContainer:hover #undoneMessages { opacity: 1;}

#leftMarginContainer:hover #doneMessages { opacity: 1;}




#undoneMessages{

    opacity: 0;

    margin-left: 2vw;
}

#doneMessages{
    opacity: 0;
    margin-left: 2vw;
}




</style>



     <div id='leftMarginContainer'>

        <a href='{{ path("showAllPendingTicketsPath") }}'><div id='pendingMsgsLink'><i class="fas fa-2x fa-envelope"></i><h5 id='undoneMessages'>Messages recus</h5></div> <br></a>

        <a href='{{ path("showAllDoneTicketsPath") }}'><div id='doneMsgsLink' ><i class="fas fa-2x fa-archive"></i><h5  id='doneMessages'>Messages traités</h5></div></a>

     </div>



<div class='totalBgContainer'>


     
    <div class='bgContainer'>

    <div  class = 'myHeader'>

      <div style='width:90%; display: flex; flex-direction: row; align-items: flex-end; margin-left: 20px'>

                        <div style='width:30%;'> <p>Utilisateur</p> </div>
                        <div style='width:50%'> <p>Message</p></div>
                        <div style='width: 10%'> <p>Date</p> </div>
           </div>
        
          <div style='width:10%; height: 100%;display:flex; align-items: center; justify-content: center;padding-bottom: 10px;' >
                   
          </div>


    </div>

    
    

    {% for ticket in tickets %}
    
    
       <div class = 'ticketContainer'style='overflow:hidden'>

         <div style='width:90%'>

                <a style='width:100%; text-decoration: none; color: grey;' id='messageLink' href='{{ path("showOneTicketsPath", {"ticketId": ticket.id, "comingFrom": "pending"} ) }}'>
                    <div style='display:flex; flex-direction: row; justify-content: space-around; color:black'>
                        <div style='width:20%;'> <p> {{ ticket.username}}</p> </div>
                        <div style='width:40%'> <p> {{ ticket.content }}</p> </div>
                        <div style='width: 10%'> <p> {{ ticket.date|date('d-m') }}</p> </div>
                    </div>
                </a>
           </div>
        
          <div style='width:10%; height: 100%;display:flex; align-items: center; justify-content: center;padding-bottom: 10px;' >
                  <a href= '{{ path("deleteTicketPath", {"ticketId" :  ticket.id, "ticketStatus" : ticket.status} )}}'><i class="fas fa-trash"></i></a> 
          </div>

         </div>

 
            {%endfor%}





 </div>

    
</div>






   {% endblock %}



{% block javascripts %}


<script>


var leftMarginContainer = document.getElementById('leftMarginContainer');

leftMarginContainer.addEventListener('mouseover', overOn();

);

function overOn(){
 leftMarginContainer.style.width = 20px;

}


</script>

{% endblock %}