<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

       
       
                
    </head>
    <body>

    <style>


   main{

     position: relative;

     top: 10vh;

   }






   #myNav{

     position: fixed;
     height: 10vh;
     width: 100vw;

     z-index: 5;

   }

  


    #messageIcon{

       z-index: 3;

       
       float:right;

       position: fixed;

       top: 80vh;

       left: 90vw;




      background: #0049B7;

     

      height : 80px;

      width: 80px;

      border-radius: 70px;

      display: flex;

      justify-content: center;

      align-items: center;

    }


        #messageIcon:hover{

          opacity: 85%;

    }




    #messageBox{
       z-index: 3;

       
       float:right;

       position: fixed;

       bottom: 1vh;

       left: 70vw;
      
      width : 320px;

      height : 320px;

      display: flex;

      flex-direction: column;

      align-items:center;


      border-radius: 20px;

      opacity:0;

      background: white;

    }

    .formInputDiv{
      
      width: 100%;

      display: flex;

      justify-content: center;


    }


    .formInput{

      height: 28px;

      width: 80%;

      border: none;
      
      border-bottom: 1.5px solid;

      outline:none;




    }


    #formTitle{

     background: white;

     width: 100%;

     height: 15%;

    display: flex;

    justify-content: space-between;

    flex-direction: row;

    border-radius: 20px 20px 0px 0px;

    }




    #messageForm{

      width: 100%;

      height: 85%;

      display: flex;

      flex-direction: column;

      align-items: center;

      justify-content: space-between;

    }


      #messageSenderInfo{

            height: 42%;

            width: 100%;

            display: flex;

            flex-direction: column;

            align-items: center;

            justify-content: space-around;

    }


  

   #messageContent{

      display:flex;

      height: 35%;

      width: 100%;

      justify-content: center;

      align-items: center;



     }


#messageInput{

  width: 80%;

  height: 100%;

  padding-bottom: 50px;

  border: none;

  border-bottom: 1.5px solid;

  font-size:15px;

  outline:none;


  

  
  
}


#buttonDiv{

  display : flex;

  justify-content:center;

  align-items: center;

  height: 23%;

  width: 100%;

}
#messageButton{
  
  display: block;
  height: 55%;

  width: 50%;

  

}



 #closeBoxLogo{

    margin-right: 5px;

    margin-top: 5px;
    
     outline: none;

     background: none;

     border: none;

     font-size: 15px;
    
}



            {% block stylesheets %}{% endblock %}





    </style>



<nav id='myNav' class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href='{{ path("adminIndexPath")}}'>
          <img style='height: 60px ; width:auto' src='{{ asset("assets/img/belleLogo.png") }}' alt="logo Belle Image">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
           

              {%if app.user%}

              <div style='width: 150px; display: flex; margin-top: 20px;justify-content: space-between background:' >

                <li class="nav-item active" style='width: 200px; display:flex; justify-content: flex-start; flex-direction: row;'>
                  <a href= '{{path("showAllPendingTicketsPath")}}'><i style='color:white' class="fas  fa-2x fa-comment-alt"></i></a> 
                  <p id='pinHTML' style='color:white; background: red; border-radius: 20px; margin-top: 15px; display: flex; justify-content: center; height: 25px; width: 25px; '>{{ app.user.pinCount}}</p>
              </li>

             <li  class="nav-item active">
                 <a href= '{{ path("logoutPath")}} '><i style='color:white' class="fas fa-2x fa-sign-out-alt"></i></a>
             </li>

             

             </div>

                

           
              {%else%}

            
           
          <li class="nav-item active">
          <a class="nav-link" href='{{ path("seeCartPath") }}'>
             <i class="fas fa-2x fa-cart-arrow-down"></i>
          </a>
                </li>
              {%endif%}
  


      
      </ul>
    </div>
  </div>
</nav>



<main>

  
       

      {%if app.user%}
           
      {%else%}

    <div id ='messageBox'>

      <div id='formTitle' style='padding-left: 40px'>
        <h4 style='margin: auto;'>Messagerie</h4>
        <a  onclick='closeMessageBox()''><button id='closeBoxLogo'><i class="fas fa-times"></i></button></a>
     </div>
            

     <form id='messageForm'  method='post'>

       <div id='messageSenderInfo'>
    
           <div class='formInputDiv'>
            <input placeholder = 'Saissez votre nom et prénom' id='userName' class='formInput' type = 'text' name = 'username'></br>
           </div>

            <div class='formInputDiv'>
               <input placeholder = 'Saissez votre numéro de téléphone' id='phoneInput' class='formInput' type = 'text' name = 'ticketPhoneNumber'> </br>
             </div>
            
            <div class='formInputDiv'>
              <input placeholder = 'Saissez votre mail' id='mailInput' class='formInput' type = 'text' name = 'ticketMail'></br>
            </div>
      </div>

      <div id='messageContent'>

            <textarea maxlength="4000" placeholder = 'Saissez votre message' id= 'messageInput' type = 'text' name = 'ticketMessage'></textarea></br>

       </div>

      <div id='buttonDiv'>

                   <button class='btn btn-success' id='messageButton' type='submit'  onclick='sendTicket(event)'><i class="fas fa-arrow-right"></i></button>


       </div>





    </form>

  </div>

  <div id='messageSentDiv'></div>

  

  <a onclick='openMessageBox()'><div id='messageIcon'>
      <i id = 'messageBoxLogo' style='color:white' class="fas fa-comment-alt fa-3x"></i>
  </div></a>


 {%endif%}


 {% block body %}{% endblock %}


    </main>


      {%if app.user%}

   <footer>


     <div style='position: fixed; top: 94vh; background:black; width: 100vw; height: 6vh; display: flex; justify-content: center; align-items: center ; padding-left: 1vw;  padding-right: 1vw; z-index:5'>

        <div style='width:5%; display:flex; justify-content: space-between;'>
                     
           <a style='text-decoration: none;' href='{{path("showAllEventsPath")}}'><i style='color:white' class="fas fa-1x fa-clipboard-list"></i></a>      
          
           <a style='text-decoration: none;' href='{{ path("newEventPath")}}'><i style='color:white' class="fas fa-1x fa-plus-circle"></i></a>
          </div>


      </div>

  </footer>

{%endif%}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>



var pinCount = document.getElementById('pinHTML');

var messageIcon = document.getElementById('messageIcon');


var messageBox = document.getElementById('messageBox');


var messageSentDiv = document.getElementById('messageSentDiv');


var userName = document.getElementById('userName');

var mailInput = document.getElementById('mailInput');

var phoneInput = document.getElementById('phoneInput'); 

var messageInput = document.getElementById('messageInput');



function closeMessageSentNotif(){


   messageSentDiv.innerHTML = '';

}




function openMessageBox(){

  messageIcon.style.opacity = 0;

   messageBox.style.opacity = 1;

}



function closeMessageBox(){

    messageIcon.style.opacity = 1;

       messageBox.style.opacity = 0;


}


function sendTicket(event){

  event.preventDefault();

  var xrq = new XMLHttpRequest();

  xrq.onload = function(){

    console.log(JSON.parse(this.responseText).content);

    messageSentDiv.innerHTML ="Votre message a bien été recu!! Nous vous recontacterons dans les plus brefs délais!! <button onclick='closeMessageSentNotif()'>X</button>"
    
     messageBox.style.opacity = 0;

     messageIcon.style.opacity = 1;


     messageInput.value = '';

     userName.value = '';
     document.getElementById('phoneInput').value = '';

    document.getElementById('mailInput').value = '';




  }

   xrq.open('POST', '{{path("newTicketPath")}}', true);

  
   xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');


  xrq.send("ticketMessage=" + messageInput.value + "&username=" + userName.value + "&ticketPhoneNumber=" + phoneInput.value + "&ticketMail=" + mailInput.value );
}

  {%if app.user%}



     {% if app.user.pinCount == 0  %}

           
         pinCount.style.opacity = 0;



     {% endif %}

{%endif%}
</script>
        {% block javascripts %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

   
    </body>
</html>
