<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

       
       
                
    </head>
    <body>

    <style>


  


    #messageIcon{

      background: blue;

      margin-top: 250px;

      margin-left: 70vw;

      height : 80px;

      width: 80px;

      border-radius: 40px;

      display: flex;

      justify-content: center;

      align-items: center;

    }


        #messageIcon:hover{


          opacity: 85%;

    }



    


    #messageBox{
      
      float: right;

      position: relative;

      margin-right: 20px;

      margin-top : -50px;

      z-index: 2;

      background : silver;
      width : 300px;

      height : 500px;

      display: flex;

      flex-direction: column;

      align-items:center;


      border-radius: 20px;

      opacity:0;

    }


    #formTitle{

     background: white;

     width: 100%;


    display: flex;

    justify-content: center;

    border-radius: 20px 20px 0px 0px;

    }


    #closeBoxLogo{

      margin-left:20%;
    }




    #messageForm{

      width: 100%;

      display: flex;

      flex-direction: column;

      align-items: center;
    }



   #messageContent{

      display:flex;

      width: 100%;

      justify-content:

      height: 1000px;

     }

.formInput{

  width: 70%;
}

#messageInput{

  height: 100px;

  width: 80%;
}

#messageButton{

  width: 20%;

}


.eventLinks{

  position: relative;
  top: 500px;
}






    </style>

            {% block stylesheets %}{% endblock %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href='{{ path("adminIndexPath")}}'>
          <img style='height: 60px ; width:auto' src='{{ asset("assets/img/belleLogo.png") }}' alt="logo Belle Image">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">

              {%if app.user%}

           <a href= '{{path("showAllPendingTicketsPath")}}'><button>Messages</button> <h3>{{ app.user.pinCount}}</h3></a>

           <a href= '{{ path("logoutPath")}} '><button>Déconnexion</button></a>

           
              {%else%}

          <a class="nav-link" href='{{ path("seeCartPath") }}'>
             <i class="fas fa-2x fa-cart-arrow-down"></i>
          </a>
              {%endif%}
        </li>


      
      </ul>
    </div>
  </div>
</nav>
</div>

</br>
</br>
</br>
        {% block body %}{% endblock %}

       

      {%if app.user%}
           
           <a href='{{path("showAllEventsPath")}}' ><button class='eventLinks'>Voir tes évènements</button></a>

           <a href='{{ path("newEventPath")}}'><button class='eventLinks'>Créer un évènement</button></a>

      {%else%}

      <div id ='messageBox'>

         <div id='formTitle'>
  
           <h1>Contact</h1>

           <a onclick='closeMessageBox()'><button id='closeBoxLogo'>x</button></a>

          
        </div>
       
            

      <form id='messageForm'  method='post'>



      <label>Name</label></br>
      <input class='formInput' type = 'text' name = 'username'></br>

       <label>Phone Number</label></br>
       <input class='formInput' type = 'text' name = 'ticketPhoneNumber'> </br>
    
      <label>Email</label></br>
      <input class='formInput' type = 'text' name = 'ticketMail'></br>

    <label>Envoyez un message à Claude</label></br>

    <div id='messageContent'>

        <input id= 'messageInput' type = 'text' name = 'ticketMessage'></br>

        <input id='messageButton' type='submit' id='ticketSubmit' onclick='sendTicket(event)'> 


        </div>

    </form>

  </div>

  <div id='messageSentDiv'></div>

  

  <a onclick='openMessageBox()'><div id='messageIcon'>
      <i id = 'messageBoxLogo' style='color:white' class="fas fa-comment-alt fa-3x"></i>
  </div></a>


 {%endif%}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>


var messageIcon = document.getElementById('messageIcon');


var messageBox = document.getElementById('messageBox');

var messageInput = document.getElementById('messageInput');

var messageSentDiv = document.getElementById('messageSentDiv');



function closeMessageSentNotif(){


   messageSentDiv.innerHTML = '';

}




function openMessageBox(){

  messageIcon.style.opacity = 0;

   messageBox.style.opacity = 1;

}



function closeMessageBox(){

    messageIcon.style.opacity = 1;

       messageBox.style.opacity = 0;


}


function sendTicket(event){

  event.preventDefault();

  var xrq = new XMLHttpRequest();

  xrq.onload = function(){

    messageSentDiv.innerHTML ="Votre message a bien été recu!! Nous vous recontacterons dans les plus brefs délais!! <button onclick='closeMessageSentNotif()'>X</button>"


  }

   xrq.open('POST', '{{path("newTicketPath")}}', true);

  
   xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');


  xrq.send("ticketMessage=" + messageInput.value + "&username=" + messageInput.value + "&ticketPhoneNumber=" + messageInput.value + "&ticketMail=" + messageInput.value );
}

</script>
        {% block javascripts %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
