<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <style>

    </style>
    <div class="fixed-top">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

      <a href= '{{ path("adminIndexPath")}}'><h5 class="text-white h4">Home</h5></a>

       {%if app.user%}

      <a href= '{{ path("showAllPendingTicketsPath")}}'><h5 class="text-white h4">Mes tickets en cours</h5></a>

            <a href= '{{ path("showAllDoneTicketsPath")}}'><h5 class="text-white h4">Mes tickets réalisés</h5></a>
          
          {%else%}

            <a href= '{{ path("security_login")}} '><button>Connexion</button></a>


          {%endif%}


    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

      {%if app.user%}

           
           <a href= '{{ path("logoutPath")}} '><button>Déconnexion</button></a>


      {%else%}
                 <a href= {{ path("seeCartPath") }}><button>See your cart</button></a>


            {%endif%}



  </nav>
</div>

</br>
</br>
</br>
        {% block body %}{% endblock %}

        

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

      {%if app.user%}
           
           <a href= '{{ path("showAllEventsPath")}} '><button>Voir tes évènements</button></a>

           <a href= ' {{ path("newEventPath")}}'><button>Créer un évènement</button></a>

      {%else%}

      <form method='post' action='{{path("newTicketPath")}}'>


<label>Name</label>
  <input type = 'text' name = 'username'></br>
<label>Envoyez un message à Claude</label></br>

  <input type = 'text' name = 'ticketMessage'></br>

  <label>Phone Number</label></br>
  <input type = 'text' name = 'ticketPhoneNumber'> </br>
    
    <label>Email</label></br>
    <input type = 'text' name = 'ticketMail'></br>

<input type='submit' id='ticketSubmit'> 
</form>


 {%endif%}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
